INSTALL
COPYING
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/html
doc/latex
install-sh
lib
libtool
ltmain.sh
missing
.libs
*.deps
*.la
*.lo
*.o
*.*~
Makefile
Makefile.in
*moc_*
ui_*.h
.dirstamp
stamp-h1
*.m4
src/reviz